<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Charizard</title>
    <link rel="shortcut icon" href="../img/charizard.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: rgba(255, 127, 80, 0.5);
    }
    
    img {
        width: 20%;
    }
    
    #fuego {
        background-color: orange;
        padding: 2px;
        border-radius: 5px;
    }
    
    #volador {
        background-color: rgb(79, 93, 100);
        padding: 2px;
        border-radius: 5px;
    }
</style>

<body>
    <h1>Charizard</h1>
    <img src="../img/charizard.png" alt="Charizard">
    <p>Tipo: <span id="fuego"> Fuego </span> <span id="volador"> Volador </span></p>
    <h4>Descripción:</h4>
    <p>Escupe un fuego tan caliente que funde las rocas. Causa incendios forestales sin querer.</p>
    <p id="enlace"><a href="../index.html">PAGINA PRINCIPAL</a></p>
</body>

</html>