<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Dragonite</title>
    <link rel="shortcut icon" href="../img/dragonite.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>


<body>
    <h1>Dragonite</h1>
    <img style="width: 20%;" src="../img/dragonite.png" alt="Dragonite">
    <p>Tipo: <span id="dragon"> Dragon </span> <span id="volador"> Volador </span></p>
    <h4>Descripción:</h4>
    <p>Un Pokémon bondadoso y compasivo al que le resulta imposible dar la espalda a Pokémon o humanos que se encuentren a la deriva.</p>
    <p id="enlace"><a href="../index.html">PAGINA PRINCIPAL</a></p>

</body>

</html>