<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Lucario</title>
    <link rel="shortcut icon" href="../img/lucario.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: lightcyan;
    }
    
    img {
        width: 20%;
    }
    
    span {
        background-color: rgb(175, 47, 47);
        padding: 2px;
        border-radius: 5px;
    }
</style>

<body>
    <h1>Lucario</h1>
    <img>
    <p>Tipo: <span> Lucha </span> <span style="background-color: rgb(119, 115, 121); padding: 2px;border-radius: 5px;"> Acero </span></p>
    <h4>Descripción:</h4>
    <p>Caza a sus presas manipulando una energía, denominada aura, cuya potencia es capaz incluso de hacer añicos rocas enormes.</p>
    <p id="enlace"><a href="../index.html">PAGINA PRINCIPAL</a></p>

</body>

</html>